<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <meta name="keywords" content="telefon, 4sale, forsale, calculator, tableta, carti, reduceri, pret redus, Bucuresti, transport prin curier, oferta, discount"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Magazinul 4Sale ofera telefoane, tablete, calculatoare, moda si carti la cele mai bune preturi. Livrare la domiciliu in Bucuresti."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
 
        <title>4Sale.ro</title>


    </head>

    <body>
        <header>
            <h1 id="titlu">4Sale.ro</h1>
            <%- include("../fragmente/nav.ejs") %>
            <p id="banner"></p>
        </header>
        <main>
            <h1>Alta pagina</h1>

        </main>

        <%- include("../fragmente/footer.ejs") %>

    </body>
</html>