#tab_orar th, #tab_orar td{
    border: 1px solid black;
    padding: 10px;
    transition: all 0.75s linear;
}

#tab_orar{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

#tab_orar thead th{
  border: 3px solid;
}

#tab_orar tbody tr:nth-child(odd){
  box-shadow: 0px 4px 10px var(--color1);
}
#tab_orar tbody tr:nth-child(even){
  box-shadow: 0px 4px 10px var(--color2);
}

#tab_orar tbody tr:hover{
  background-color: var(--color1);
  color: white;
  font-size: 1.2rem;
}



/*din 2 in 2,pe impar, in head-ul tabelului fac fundal gri*/
#tab_orar thead th:nth-child(2n+1){
    background-color: grey;
}



#link-top{
  position:fixed;
  bottom:0.3em;
  opacity:0.5;
  left:0.3em;
  width:3rem;
  box-sizing: border-box;
  height:3rem;
  line-height:3rem;
  text-align:center;
  border:5px solid grey;
	border-top-color:red;
  border-radius:50%;
  background: rgb(220,220,220);
}
#link-top:hover{
  opacity:1;
}
#triunghi{
  height:0px;
  width:0;
  display:inline-block;
  border-bottom:1.5rem solid grey;
  border-left:1rem solid transparent;
  border-right:1rem solid transparent;
  vertical-align: top;
  transform: translateY(30%);
}
