<footer>
    <a href="#" id="link-top"><div id="triunghi"></div></a>
    <address>
        Strada Academiei 14, Bucuresti
        <i class="fa-solid fa-phone"></i><a href="tel:+40766301761">Telefon</a>
        <a href="mailto:vlad.3456@gmail.com">E-mail</a>
        <a href="https://wa.me/0766301761">Whatsapp</a>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.884114398441!2d26.097011775701!3d44.435539301482414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1730667072689!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="address-ifr"></iframe>
    </address>
    <small>Copyright &copy; <time datetime="2024-11-04 23:00">Luni, 4 noiembrie 2024</time></small>
    <a href="/resurse/img/iph15.jpg" download="Best seller">Best seller</a>
</footer>