<header>
    <h1>
        <div id="titlu" data-text="4Sale.ro">4Sale.ro</div>
        <div id="titlu2" data-text="4Sale.ro">4Sale.ro</div>
    </h1>
    <%- include("../fragmente/nav.ejs") %>
        <p id="banner"></p>
</header>