<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="Vlad-Adrian Ancuta"> 
<meta name="keywords" content="telefon, 4sale, forsale, calculator, tableta, carti, reduceri, pret redus, Bucuresti, transport prin curier, oferta, discount">
<meta name="description" content="Magazinul 4Sale ofera telefoane, tablete, calculatoare, moda si carti la cele mai bune preturi. Livrare la domiciliu in Bucuresti.">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<link rel="icon" type="image/png" href="/resurse/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/resurse/favicon/favicon.svg" />
<link rel="shortcut icon" href="/resurse/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="4Sale" />
<link rel="manifest" href="/resurse/favicon/site.webmanifest" />

<link rel="stylesheet" href="/resurse/css/layout.css" type="text/css">
<link rel="stylesheet" href="/resurse/css/general.css" type="text/css">
<link rel="stylesheet" href="/resurse/css/stil.css" type="text/css">
<link rel="stylesheet" href="/resurse/css/print.css" type="text/css">
<link rel="stylesheet" href="/resurse/css/nav.css" type="text/css">
<link rel="stylesheet" href="/resurse/css/screen1000.css" type="text/css">
<link rel="stylesheet" href="/resurse/css/screen800.css" type="text/css">
<link rel="stylesheet" href="/resurse/css/galerie.css" type="text/css">
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

<title>4Sale.ro</title>