<script src = "/resurse/js/tema.js"></script>

<button id="schimba_tema">Schimba tema</button>

<nav>
    <label id="home" for="ch-meniu" class="fa-solid fa-house"></label>
    <input id="ch-meniu" type="checkbox">
    <ul class="meniu">
        <li>    
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
                
            </div>
                <ul>
                    <a href = '/index#welcome'>Welcome</a>
                    <a href = '/index#apple'>Apple</a>
                    <a href = '/index#samsung'>Samsung</a>
                    <a href = '/index#info'>Informatii</a>
                </ul>
        </li>
        	
        <li><div id="galerie_statica"><a href="/galerie_statica">Galerie statica</a></div><div id="galerie_statica_mediu"><a href="/galerie_statica"><i class="fa-solid fa-image"></i></a></div></li>

        <li><div id= "produse">Produse</div><div id= "produse-mediu"><i class="fa-solid fa-computer"></i></div>
            <ul>
                <a href = "/produse">Toate</a>
                <a href = '/produse?tip=telefon'>Telefoane</a>
                <a href = '/produse?tip=tableta'>Tablete</a>
                <a href = '/produse?tip=televizor'>Televizoare</a>
            </ul>
        </li>

        <li><div id="account">Cont</div><div id="account-mediu"><span class="fa-solid fa-file-invoice"></span></div>
            <ul>
                <a href = '#'>Log In</a>
                <a href = '#'>Sign In</a>
                <a href = '#'>Name</a>
            </ul>
        </li>

        <li><div id="cos">Cos</div><div id="cos-mediu"><span class="fa-solid fa-cart-shopping"></span></li>
    </ul>
</nav>